* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
header {
  background-image: url(assets/background\ image.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 952px;
}
/*-----------------------Navbar--------------------
-------------------------------------------------*/
.navbar .navbar-brand {
  font-size: 48px;
  color: white;
}
.navbar .navbar-brand:hover {
  color: white;
}
.navbar .collapse ul li a {
  font-size: 20px;
  color: white;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.navbar .collapse ul li a:hover {
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}
.navbar .collapse form button {
  background-color: white;
  color: #3e86f5;
  border-color: white;
  font-size: 18px;
  transition: 0.2s ease-in-out;
}
.navbar .collapse form button:hover {
  color: white;
  background-color: #3e86f5;
  border-color: #3e86f5;
  transition: 0.2s ease-in-out;
}
/*-----------------------Landing page--------------------
-------------------------------------------------*/
header .landing-page {
  padding-top: 170px;
}
header .landing-page p,
header .landing-page h1 {
  font-size: 64px;
  font-weight: 600;
  color: white;
  line-height: 1.6;
}
header .landing-page p {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.689);
}
@media (max-width: 1200px) {
  header .landing-page h1 {
    font-size: 54px;
  }
  header .landing-page p {
    font-size: 20px;
  }
  .navbar .navbar-brand {
    font-size: 38px;
  }
  .navbar .collapse ul li a {
    font-size: 18px;
  }
  .navbar .collapse form button {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  header .landing-page {
    padding-top: 100px;
  }
  header .landing-page h1 {
    font-size: 40px;
  }
  header .landing-page p {
    font-size: 16px;
  }
  .navbar .navbar-brand {
    font-size: 30px;
  }
  .navbar .collapse ul li a {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  header .landing-page {
    padding-top: 40px;
  }
  header .landing-page h1 {
    font-size: 25px;
  }
  header .landing-page p {
    font-size: 15px;
  }
  .navbar .navbar-brand {
    font-size: 25px;
  }
  .navbar .collapse ul li a {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  header .landing-page {
    padding-top: 20px;
  }
  header .landing-page h1 {
    font-size: 18px;
  }
  header .landing-page p {
    font-size: 12px;
  }
  .navbar .navbar-brand {
    font-size: 18px;
  }
  .navbar .collapse form button,
  .navbar .collapse ul li a {
    font-size: 13px;
  }
}
@media (max-width: 470px) {
  header .landing-page {
    padding-top: 10px;
  }
  header .landing-page h1 {
    font-size: 12px;
  }
  header .landing-page p {
    font-size: 8px;
  }
  .navbar .navbar-brand {
    font-size: 16px;
  }
  .navbar .collapse ul li a {
    font-size: 10px;
  }
}
/*-----------------------offers--------------------
-------------------------------------------------*/
main {
  background-color: #f7f6f6;
}
.offers .container .buttons a {
  text-decoration: none;
  font-size: 18px;
  color: grey;
  transition: 0.2s ease-in-out;
  border-radius: 10px;
  padding: 5px 10px;
}
.offers .container .buttons a:hover {
  background-color: #0d6efd;
  color: white;
  transition: 0.2s ease-in-out;
}
.offers .container h1 {
  font-weight: 600;
}
.offers .container .offers-details .row .col-12 .offer1,
.offers .container .offers-details .row .col-12 .offer2,
.offers .container .offers-details .row .col-12 .offer3,
.offers .container .buttons .bt-links {
  border-radius: 10px;
  box-shadow: 0px 5px 25px 0px #eaebec;
  background-color: white;
}
.offers .container .offers-details .row .col-12 .picture p {
  writing-mode: vertical-rl;
  color: #00000085;
  font-size: 18px;
}
.offers .container .offers-details .row .col-12 .offer1,
.offers .container .offers-details .row .col-12 .offer2,
.offers .container .offers-details .row .col-12 .offer3 {
  border-radius: 50px;
}
.offers .container .offers-details .row .col-12 .offer1 .description .type,
.offers .container .offers-details .row .col-12 .offer3 .description .type {
  color: #f178b6;
  background-color: #fcddec;
  border-radius: 50px;
  font-weight: 450;
  font-size: 15px;
}
.offers .container .offers-details .row .col-12 .offer2 .description .type {
  color: #7879f1;
  background-color: #f1f1fd;
  border-radius: 50px;
  font-weight: 450;
  font-size: 15px;
}

.offers .container .offers-details .row .col-12 .description .period {
  color: #0000006a;
  font-size: 14px;
}

.offers .container .offers-details .row .col-12 .description .place {
  font-size: 24px;
  font-weight: bold;
}

.offers .container .offers-details .row .col-12 .description .price p {
  color: #000000a1;
  font-size: 14px;
  font-weight: 400;
  margin: auto 0px;
}
.offers .container .offers-details .row .col-12 .description .price span {
  color: black;
  font-size: 24px;
  font-weight: 500;
}
.offers .container .offers-details .row .col-12 .description .price a {
  text-decoration: none;
  background-color: #f2f6ff;
  border-radius: 10px;
  color: #3e86f5;
  transition: 0.2s ease-in-out;
  font-weight: 500;
}
.offers .container .offers-details .row .col-12 .description .price a:hover {
  color: #3e86f5;
  transition: 0.2s ease-in-out;
}
