* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
header {
  background-image: url(assets/background\ image.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 952px;
  padding-bottom: 0px;
  border: solid black 1px;
}
@media (max-width: 1200px) {
  header {
    height: 752px;
  }
}
@media (max-width: 992px) {
  header {
    height: 552px;
  }
}
/*-----------------------Navbar--------------------
-------------------------------------------------*/
.navbar .navbar-brand {
  font-size: 48px;
  color: white;
}
.navbar .navbar-brand:hover {
  color: white;
}
.navbar .collapse ul li a {
  font-size: 20px;
  color: white;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.navbar .collapse ul li a:hover {
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}
.navbar .collapse form button {
  background-color: white;
  color: #3e86f5;
  border-color: white;
  font-size: 18px;
  transition: 0.2s ease-in-out;
}
.navbar .collapse form button:hover {
  color: white;
  background-color: #3e86f5;
  border-color: #3e86f5;
  transition: 0.2s ease-in-out;
}
/*-----------------------Landing page--------------------
-------------------------------------------------*/
header .landing-page {
  padding-top: 170px;
}
header .landing-page p,
header .landing-page h1 {
  font-size: 64px;
  font-weight: 600;
  color: white;
  line-height: 1.6;
}
header .landing-page p {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.689);
}
@media (max-width: 1200px) {
  header .landing-page h1 {
    font-size: 54px;
  }
  header .landing-page p {
    font-size: 20px;
  }
  .navbar .navbar-brand {
    font-size: 38px;
  }
  .navbar .collapse ul li a {
    font-size: 18px;
  }
  .navbar .collapse form button {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  header .landing-page {
    padding-top: 100px;
  }
  header .landing-page h1 {
    font-size: 40px;
  }
  header .landing-page p {
    font-size: 16px;
  }
  .navbar .navbar-brand {
    font-size: 30px;
  }
  .navbar .collapse ul li a {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  header .landing-page {
    padding-top: 40px;
  }
  header .landing-page h1 {
    font-size: 25px;
  }
  header .landing-page p {
    font-size: 15px;
  }
  .navbar .navbar-brand {
    font-size: 25px;
  }
  .navbar .collapse ul li a {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  header .landing-page {
    padding-top: 20px;
  }
  header .landing-page h1 {
    font-size: 18px;
  }
  header .landing-page p {
    font-size: 12px;
  }
  .navbar .navbar-brand {
    font-size: 18px;
  }
  .navbar .collapse form button,
  .navbar .collapse ul li a {
    font-size: 13px;
  }
}
@media (max-width: 470px) {
  header .landing-page {
    padding-top: 10px;
  }
  header .landing-page h1 {
    font-size: 12px;
  }
  header .landing-page p {
    font-size: 8px;
  }
  .navbar .navbar-brand {
    font-size: 16px;
  }
  .navbar .collapse ul li a {
    font-size: 10px;
  }
}
/*-----------------------section 1--------------------
-------------------------------------------------*/
.section1 {
  transform: translateY(-120px);
}
.section1 .container .reservation {
  background-color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.section1 .container .reservation .fa-plane {
  transform: rotate(-40deg);
}
.section1 .container .reservation a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  border-radius: 20px;
  transition: 0.1s ease-in-out;
}
.section1 .container .reservation a:nth-of-type(1) {
  background-color: #d9e6fd;
}
.section1 .container .reservation a:hover {
  background-color: #d9e6fd;
  transition: 0.1s ease-in-out;
}
.section1 .container .fight-details {
  border-radius: 20px;
  border-top-left-radius: 0px;
  background-color: white;
  box-shadow: 0px 5px 10px 0px #eaebec;
}
.section1 .container .fight-details .date-details,
.section1 .container .fight-details .dest {
  border: solid rgba(128, 128, 128, 0.496) 2px;
  border-radius: 20px;
}
.section1 .container .fight-details .date-details .fa-plane {
  color: #3e86f5;
}
.section1 .container .fight-details .date-details .plane2 {
  transform: rotate(180deg);
}
.section1 .container .fight-details .dest i {
  transform: rotate(90deg);
  color: grey;
  font-size: 20px;
  border: dashed rgba(128, 128, 128, 0.438) 2px;
  border-radius: 50%;
}
.bi-calendar-week {
  color: grey;
  font-size: 20px;
  border: dashed rgba(128, 128, 128, 0.438) 2px;
  border-radius: 50%;
}
.section1 .container .fight-details .search i {
  font-size: 40px;
  color: white;
  background-color: #659ef7;
  border-radius: 40%;
}
.section1 .container .fight-details .row p:nth-of-type(1) {
  font-size: 18px;
  color: gray;
}
.section1 .container .fight-details .row p:nth-of-type(2) {
  font-size: 18px;
  font-weight: 600;
}
/*-----------------------offers--------------------
-------------------------------------------------*/
header,
main {
  background-color: #f7f6f6;
  padding-bottom: 100px;
}
.offers .container .buttons a {
  text-decoration: none;
  font-size: 18px;
  color: grey;
  transition: 0.2s ease-in-out;
  border-radius: 10px;
  padding: 5px 10px;
}
.offers .container .buttons a:hover {
  background-color: #0d6efd;
  color: white;
  transition: 0.2s ease-in-out;
}
.offers .container h1 {
  font-weight: 600;
}
.offers .container .offers-details .row .col-12 .offer1,
.offers .container .offers-details .row .col-12 .offer2,
.offers .container .offers-details .row .col-12 .offer3,
.offers .container .buttons .bt-links {
  border-radius: 10px;
  box-shadow: 0px 5px 25px 0px #eaebec;
  background-color: white;
}
.offers .container .offers-details .row .col-12 .picture p {
  writing-mode: vertical-rl;
  color: #00000085;
  font-size: 18px;
}
.offers .container .offers-details .row .col-12 .offer1,
.offers .container .offers-details .row .col-12 .offer2,
.offers .container .offers-details .row .col-12 .offer3 {
  border-radius: 50px;
}
.offers .container .offers-details .row .col-12 .offer1 .description .type,
.offers .container .offers-details .row .col-12 .offer3 .description .type {
  color: #f178b6;
  background-color: #fcddec;
  border-radius: 50px;
  font-weight: 450;
  font-size: 15px;
}
.offers .container .offers-details .row .col-12 .offer2 .description .type {
  color: #7879f1;
  background-color: #f1f1fd;
  border-radius: 50px;
  font-weight: 450;
  font-size: 15px;
}

.offers .container .offers-details .row .col-12 .description .period {
  color: #0000006a;
  font-size: 14px;
}

.offers .container .offers-details .row .col-12 .description .place {
  font-size: 24px;
  font-weight: bold;
}

.offers .container .offers-details .row .col-12 .description .price p {
  color: #000000a1;
  font-size: 14px;
  font-weight: 400;
  margin: auto 0px;
}
.offers .container .offers-details .row .col-12 .description .price span {
  color: black;
  font-size: 24px;
  font-weight: 500;
}
.offers .container .offers-details .row .col-12 .description .price a {
  text-decoration: none;
  background-color: #f2f6ff;
  border-radius: 10px;
  color: #3e86f5;
  transition: 0.2s ease-in-out;
  font-weight: 500;
}
.offers .container .offers-details .row .col-12 .description .price a:hover {
  color: #3e86f5;
  transition: 0.2s ease-in-out;
}
/*-----------------------contact-us--------------------
-------------------------------------------------*/
.contact-us {
  margin: 200px 0px;
}
.contact-us .container .row .col-12 h1 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 40px;
}
.contact-us .container .row .col-12 p {
  color: #0000007b;
  line-height: 1.8;
  margin-bottom: 40px;
}
.contact-us .container .row .col-12 a {
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0px 5px 25px 0px #a0caf4;
}
.contact-us .container .row .col-12 .picture {
  position: relative;
  z-index: 1;
}
.contact-us .container .box {
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 5px 10px 0px #efefee49;
  position: absolute;
  z-index: 2;
}
.contact-us .container .box:nth-of-type(1) {
  top: 10%;
  right: 0;
}
.contact-us .container .box:nth-of-type(2) {
  top: 50%;
  left: 0;
}
.contact-us .container .box:nth-of-type(3) {
  right: 0;
  top: 60%;
}
.contact-us .container .box p:nth-of-type(1) {
  font-weight: 600;
  font-size: 30px;
}
.contact-us .container .box p:nth-of-type(2) {
  font-weight: 400;
  font-size: 13px;
  transform: translateY(-15px);
  color: black;
  font-weight: 400;
}
@media (max-width: 1200px) {
  .contact-us .container .box:nth-of-type(1) {
    right: -5%;
  }
  .contact-us .container .box:nth-of-type(2) {
    left: -10%;
  }
  .contact-us .container .box:nth-of-type(3) {
    right: -5%;
  }
}
@media (max-width: 992px) {
  .contact-us .container .box:nth-of-type(1) {
    right: 5%;
  }
  .contact-us .container .box:nth-of-type(2) {
    left: 5%;
  }
  .contact-us .container .box:nth-of-type(3) {
    right: 5%;
  }
}
@media (max-width: 768px) {
  .contact-us .container .box:nth-of-type(1) {
    right: -10%;
  }
  .contact-us .container .box:nth-of-type(2) {
    left: -5%;
  }
  .contact-us .container .box:nth-of-type(3) {
    right: -10%;
  }
}
@media (max-width: 576px) {
  .contact-us .container .box:nth-of-type(1) {
    right: 0%;
  }
  .contact-us .container .box:nth-of-type(2) {
    left: 0%;
  }
  .contact-us .container .box:nth-of-type(3) {
    right: 0%;
  }
}
/*-----------------------Destinations--------------------
-------------------------------------------------*/
.destinations .container h1 {
  font-weight: 600;
}
.destinations .container .links a {
  text-decoration: none;
  font-weight: 500;
  border-radius: 10px;
  color: #00000090;
  transition: 0.2s ease-in-out;
}
.destinations .container .links a:nth-of-type(1) {
  background-color: white;
}
.destinations .container .links a:hover {
  background-color: white;
  transition: 0.2s ease-in-out;
  color: #3e86f5;
}
.destinations .container .boxs .row .col-12 .dest4,
.destinations .container .boxs .row .col-12 .dest3,
.destinations .container .boxs .row .col-12 .dest2,
.destinations .container .boxs .row .col-12 .dest1 {
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 5px 25px 0px #eaebec;
}
.destinations .container .boxs .row .col-12 p:nth-of-type(1) {
  font-weight: 600;
  font-size: 18px;
}
.destinations .container .boxs .row .col-12 p:nth-of-type(2) {
  font-size: 14px;
  color: #00000090;
}
.destinations .container .boxs .row .col-12 i {
  color: #fd787b;
}
/*-----------------------Rating--------------------
-------------------------------------------------*/
.rating {
  margin: 200px 0px;
}
.rating .container .row .col-12 .rate {
  background-color: white;
  border-radius: 50px;
  position: relative;
}
.rating .container .row .col-12 {
  max-height: 100%;
}
.rating .container .row .col-12 .rate .bi-quote {
  color: #00000043;
  font-size: 150px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 40%;
  transform: translateY(-40px);
}
.rating .container .row .col-12 .rate .rate-details p:nth-of-type(1) {
  font-size: 18px;
  color: black;
  font-weight: 450;
  line-height: 1.8;
}
.rating .container .row .col-12 .rate .rate-details p:nth-of-type(2) {
  font-size: 20px;
  color: #3e86f5;
  font-weight: 400;
  margin-bottom: 5px;
}
.rating .container .row .col-12 .rate .rate-details p:nth-of-type(3) {
  font-size: 20px;
  color: #0000006b;
  font-weight: 500;
  margin-bottom: 0px;
}
.rating .container .row .col-12 .rate .rate-details img {
  padding: 5px 30px;
  background-color: white;
  transform: translateY(40px);
  border-radius: 40%;
}
.rating .container .row .col-12 .rate .rate-details .img-container {
  position: relative;
}
.rating .container .np i {
  font-size: 30px;
  color: #3e86f5;
  cursor: pointer;
}
.rating .container .np {
  gap: 20px;
}
.rating .container .row .col-12 .rate .rate-details .rates {
  font-size: 12px;
  background-color: white;
  font-weight: 500;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 54%;
}
.rating .container .row .col-12 .rate .rate-details .rates i {
  color: #f9cf01;
}
@media (max-width: 992px) {
  .rating .container .np {
    visibility: hidden;
  }
}
/*-----------------------Top Footer--------------------
-------------------------------------------------*/
.top-footer .container {
  border-radius: 80px;
  position: relative;
  clip-path: inset(0);
  background-image: url(assets/feature_03FEA.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.top-footer .container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.484);
  z-index: 0;
  border-radius: 80px;
}
.top-footer .container img {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  inset: 0;
  z-index: 1;
  border-radius: 100px;
}
.top-footer .container h1 {
  color: white;
  font-size: 48px;
  position: relative;
  z-index: 2;
  font-weight: 500;
  padding: 0px 250px;
}
.top-footer .container a {
  color: #3e86f5;
  font-size: 20px;
  position: relative;
  z-index: 2;
  background-color: white;
  border-radius: 30px;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .top-footer .container h1 {
    padding: 0px;
  }
}
@media (max-width: 992px) {
  .top-footer .container h1 {
    font-size: 30px;
  }
  .top-footer .container a {
    font-size: 15px;
  }
}
/*-----------------------footer--------------------
-------------------------------------------------*/
footer {
  background-color: #f7f6f6;
  padding: 10px 0px;
}
footer .container .row .col-12 p {
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}
footer .container .row .col-12 .links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: ease-in-out;
}
footer .container .row .col-12 .links a:hover {
  text-decoration: underline;
  transition: ease-in-out;
}
footer .container .designer {
  font-size: 14px;
  color: #7c7c7c;
}
